<div class="footer">
<div class="icons">
<i class="fa-brands fa-square-facebook"></i>

<i class="fa-brands fa-square-instagram"></i>

<i class="fa-brands fa-linkedin"></i>
</div>


<p>&copy; wanderlust privet Limited</p>

<div class="terms">
<a href="/privecy">privacy</a>
<a href="/term">trems</a>
</div>
</div>